body{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50px;
    color:rgb(250, 246, 246);
    font-weight: bold;
    background-color: hsl(0, 2%, 47%);
    font-size: 1.2em;
    border: none;
}
button:hover{
    background-color: hsl(0, 1%, 69%);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 10px;
    gap: 5px;
}
#display{
    width:222px;
    height: 50px;
    color: white;
    background-color: hsl(0, 0%, 43%);
    font-size: 2em;
    overflow: hidden;
}
#calculator{
    height: 340px;
    width: 230px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
.operator{
    background-color: hsl(180, 72%, 50%);
    color: black;
}
.operator:hover{
    background-color: hsl(180, 72%, 80%);
}